<p>Moving the Selector slider changes four
values:</p>

<ul>
  <li>
    The index number for the UTF-8 character to display.
    (There are 297,334 characters. Technically they're different 
    from Unicode, but we're gonna ignore that.)
  </li>
  <li>
    An <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/color_value/oklch">oklch()</a>
    lightness value between 50-90%.
  </li>
  <li>
    An <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/color_value/oklch">oklch()</a>
    chroma value between 0.08-0.18.
  </li>
  <li>
    An <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/color_value/oklch">oklch()</a>
    hue value between 0-360.
  </li>
</ul>

<p>
  Collectively it assigns a unique color to each
  character that change as you move the
  selector.
</p>

<p>Here's the code:</p>


